body{
    margin: 0;
    font-size: 1.2em;
}

#main{
    min-height: 100vh;
    width: fit-content;
    display: flex;
    align-content: stretch;
    padding: 0;
    margin: 0;
}

#victory{
    z-index: -2;
    position: absolute;
    width: 60%;
    left: 25%;
    top: 10%;
}

#background{
    z-index: -1;
    width: 100%;
    max-height: 100vh;
    position: absolute;
}

.field{
    background-color: #938cb1;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
    margin-top: 15%;
    padding: 1%;
}

#left{
    flex-grow: 1;
    padding-right: 0;
}

#center{
    flex-grow: 0;
    margin: auto;
}

#right{
    flex-grow: 1;
    float: right;
    padding-left: 0;
}

#footer{
    font-family: "Amatic SC";
    background-color: #2d2d2d;
    color: #fb9318;
    padding: 3vh 2vh 2vh 3vh;
    text-align: justify;
    text-align-last: left;
}

#footer img{
    max-width: 50px;
    max-height: 50px;
    margin-right: 50px;
    border-radius: 10%;
    background-color: #938cb1;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

button{
    background-color: #938cb1;
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    align-self: center;
}

button:hover{
    background-color: #fb9318;
}

button img{
    visibility: hidden;
}

#bed{
    width: 46%;
}

@media (max-width: 62em) {
    .field {
        margin-top: 15vh;
        height: 100px;
        width: 100px;
    }
        button{
        height: 60px;
        width: 60px;   
    }
    .field img, button img{
        height: 100%;
        width: 100%;
    }
  }